/* Extra CSS for use with xaringan slides when recording lectures. The CSS
   moves presenter notes to the very top of the screen (just below the 
   camera), and it makes the presenter-notes space shorter, so that speakers
   won't cast their eyes far down the monitor as they are being recorded. */

.remark-top-area {
  display: none;
}

.remark-bottom-area {
  top: -1.5em !important;
  width: 55ch;
  /* height: 30ex; */   /* shorten the window so that it never goes to bottom of screen. Useful for laptop, not desktop. */
}

.remark-notes {
	font-size: 110%;      /* 110% for big screen, 125% for laptop */
	line-height: 1.2;   
	padding-right: 20px;  /* a little space between last characters and the control bar */
}

.remark-notes > *:last-child {     /* Get last child (not last descendant) of .remark-notes */
  margin-bottom: 35em !important;  /* allow scrolling last lines of notes to top of screen. Use 5em if I want a small window. */
}

