/* Extra CSS for use with xaringan slides when recording lectures. The CSS
   moves presenter notes to the very top of the screen (just below the 
   camera), and it makes the presenter-notes space shorter, so that speakers
   won't cast their eyes far down the monitor as they are being recorded. */

.remark-top-area {
  display: none;
}

.remark-bottom-area {
  top: -1.5em !important;
  width: 60ch;
  height: 30ex;
}

.remark-notes {
	font-size: 125%;     /* versus 135% when not recording or presenting by Zoom */
	padding-right: 20px;  /* a little space between last characters and the control bar */
}

.remark-notes > p:last-child {
  margin-bottom: 5em !important;  /* allow scrolling last lines of notes to top of screen */
}

