html {
  font-size: 103%;  /*  "rem" units will refer back to this "root element"  */
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.7;
  font-size: 103%;
}

code {
  font-size: 110%;  /* affects only inline code displays */
}

p {
  font-size: 1em;
  margin: unset;
  margin-bottom: 2ex;
  max-width: 55ch;
}

.tableNarrow { 
  max-width: 55ch; 
  margin-left: 0 !important;
}

/*
.container-fluid, .main-container {
  max-width: 100000px !important;
}
*/



/* CODE BLOCKS */
pre {
  /* Let borders for code blocks conform more nicely to the surrounding paragraphs. */
  display: inline-block;
  min-width: 72ch;
}

.chunkOutput {
  color: black;
  font-style: normal;
}

.chunkOutputSpacer {
  /* Add space between chunk source and chunk output */
  height: 2ex;
}

.hljs-comment {
  /* comments in code blocks */
  color: #676767;
}





/* FIGURES */
p.caption {
  /* Make caption text a little tighter than normal text. */
  font-size: 0.95em;
  line-height: 1.4;
  margin: unset;
  margin-left: 1em;
  margin-top: 2ex;
  margin-bottom: 2ex;
  max-width: 67ch;
  text-align: justify;
  text-justify: inter-word;
}

p + div.figure {
  /* Increase margin for  figures that are immediately preceded by a paragraph. */
  margin-top: 4ex;
}





/* LISTS */
ol, ul {
  padding-left: 2em;
}
li { 
  margin-top: 2ex; 
  max-width: 55ch;  
}
li:first-of-type {
  margin-top: 1ex;
}
li li {margin-top: 1ex; }
li p {
  margin-bottom: 0;
  text-indent: 2em;
}
li p:first-of-type {    /* Don't indent first paragaph in bullet list. */
  text-indent: 0;
}

.tightList {
  margin-top: -1ex;  /* Added for gradAdmissions_2020-21_cycle.Rmd  [2021 05 06]  */
}
.tightList li:not(:first-child) {
  margin-top: 0.67ex !important;
}
.tightList li:first-child {
}
.tightList li:not(:last-child) {
}



/* SECTION HEADINGS */
/* Changed font-size so that there is separation of at least 0.2rem between
   each h1-h3. Did this for gradAdmissions_2020-21_cycle.Rmd.  
   [2021 05 06]  */
h1, .title, h1.title { 
  font-size: 1.9rem;
}
h2 { 
  font-size: 1.6rem;
  margin-top: 4.5em; 
}
h3 { 
  font-size: 1.35rem;
  margin-top: 3.0em; 
}
h4 { 
  font-size: 1.2rem;
  margin-top: 2.0em; 
}  

h1, h2, h3, h4 { 
  break-after: avoid;
  page-break-after: avoid;
  line-height: 1.4em;
  margin-bottom: 0.4ex;
}




/* PAGE BREAKS */
.noPageBreakBefore {
  break-before: avoid;
}
.noPageBreak {
  break-inside: avoid;   /* Ad hoc solution, requires adding div where bad breaks appear. */
}
.pageBreak {
  break-after: page;
  page-break-after: always;
}
.pageBreakBefore {
  break-before: page;
}



/* TABLES */
table.table { margin-bottom: 5ex; }  /* table created by kableExtra::kbl() */

th { line-height: 2.5ex !important; }

/* Notes at bottom of table. It was 4ex -- why? -- and I changed it to 2ex
   for gradAdmissions_2020-21_cycle.Rmd.  [2021 05 04]  */
tfoot > tr > td {                    
  border-top: 1px solid black !important;
  padding-top: 2ex !important;
  padding-left: 1em !important;
}    


/* SPECIAL RULES FOR PRINTING */
@media print {
  #TOC {
    display: none;
  }
}


/* FLOATING TABLE OF CONTENTS */
/* By default, a floating TOC will add huge vertical whitespace 
   to the end of the page. This CSS rule fixes the problem. */
.tocify-extend-page {
  height: 0 !important;
}

/* Prevent subheadings from appearing too large. Added for 
   gradAdmissions_2020-21_cycle.Rmd. Affects appearance only with a floating
   TOC for which "collapsed: false" is specified in the YAML header.
   [2021 05 07]  */
.tocify-subheader .tocify-item { 
  font-size: 0.90em !important;
}



/* SPECIAL RULES FOR PRINTING */
@page { 
  margin: 1in; 
  @bottom-center {  /* not supported: see https://en.wikipedia.org/wiki/Comparison_of_browser_engines_(CSS_support) */
    content: counter(page);
  }
}

@media print {
  html { font-size: 18pt; }
  
  a {
    text-decoration: underline;
  }
  a[href]:after {
    content: unset;  /*  don't print URL after a link  */
  }
  h1, h2, h3, h4 { 
    break-after: avoid;
    page-break-after: avoid;
  }

  /* Ensure no margin-top when <h2> appears after a .pageBreak div. */
  .pageBreak + h2, .pageBreak + div.level2 h2:first-child {
    margin-top: 0;
  }
  
  
  .title {
    margin-top: 0 !important;  /* Added for gradAdmissions_2020-21_cycle.Rmd. */
  }
  #TOC {
    display: none;
  }
  pre {
    min-width: 90ch;  /* printing code blocks */
  }
}



/* SPECIAL RULES FOR SCREEN */
@media screen {
  body {
    margin-top: 4em;
    margin-bottom: 5em;  /* add white space to bottom of page */
  }
}
